<div class="w3-container w3-padding-32" id="contact">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
  <p>Let's get in touch and leave your feedback</p>
  <form action="" method="POST">
    <input
      type="text"
      class="w3-input w3-border"
      placeholder="Name"
      required
      name="name"
    />
    <input
      type="text"
      class="w3-input w3-border w3-section"
      placeholder="Email"
      required
      name="email"
    />
    <input
      type="text"
      class="w3-input w3-border w3-section"
      placeholder="Subject"
      required
      name="Subject"
    />
    <input
      type="text"
      class="w3-input w3-border w3-section"
      placeholder="Comment"
      required
      name="comment"
    />
    <button class="w3-button w3-black" type="submit">Send Message</button>
  </form>
</div>
